characteristic==14.3.0
click==8.1.3
concurrent-log-handler==0.9.20
coverage==4.5.1
cryptography==37.0.4
cssselect==1.2.0
enum34==1.1.6
Flask==1.1.2
funcsigs==1.0.2
future==0.18.3
getch==1.0
idna==2.6
ipaddress==1.0.22
itsdangerous==2.0.0
Jinja2==3.0.0
jsonschema==2.6.0
kafka-python==1.4.3
kazoo==2.5.0
MarkupSafe==2.1.2
mock==2.0.0
nose2==0.13.0
pbr==4.0.3
pyasn1-modules==0.2.1
pyasn1==0.4.3
pycparser==2.18
PyDispatcher==2.0.5
pyopenssl==22.0.0
python-json-logger==0.1.8
python-redis-lock==3.2.0
PyYAML==6.0
queuelib==1.5.0
redis>=3.0
requests-file==1.4.3
requests==2.26.0
retrying==1.3.3
scrapy==2.10.0
service-identity==23.1.0
six==1.11.0
testfixtures==6.0.2
tldextract==2.2.0
Twisted~=22.10.0
ujson==5.7.0
w3lib==1.19.0
Werkzeug==2.0.0
./utils